<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}sym2blog{% endblock %} - sym2blog</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
            {% stylesheets
                'css/*'
            %}
                <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <section id="wrapper">
            <header id="header">
                <div class="top">
                    {% block navigation %}
                        <nav>
                            <ul class="navigation">
                                <li><a href="{{ path('blogger_blog_homepage') }}">Home</a></li>
                                <li><a href="{{ path('blogger_blog_about') }}">About</a></li>
                                <li><a href="{{ path('blogger_blog_contact') }}">Contact</a></li>
                            </ul>
                        </nav>
                    {% endblock %}
                </div>

                <hgroup>
                    <h2>{% block blog_title %}<a href="{{ path('blogger_blog_homepage') }}">sym2blog</a>{% endblock %}</h2>
                    <h3>{% block blog_tagline %}<a href="{{ path('blogger_blog_homepage') }}">just another blog in Symfony2</a>{% endblock %}</h3>
                </hgroup>
            </header>

            <section class="main-col">
            {% block body %}{% endblock %}
        </section>
        <aside class="sidebar">
        {% block sidebar %}{% endblock %}
    </aside>

    <div id="footer">
        {% block footer %}
            Symfony2 blog - created by <a href="https://bitbucket.org/m2015/sym2blog">Emanuele Amico</a>
        {% endblock %}
    </div>
</section>

{% block javascripts %}
{#    {% javascripts
    '@BloggerBlogBundle/Resources/public/js/*'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}#}
{% endblock %}
</body>
</html>