{# src/Blogger/BlogBundle/Resources/views/Page/contact.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Contact sym2blog</h1>
    </header>

    {% if app.session.flashbag.get('blogger-notice') %}
        <div class="blogger-notice">
            {{ app.session.flashbag.get('blogger-notice') }}
        </div>
    {% endif %}

    <p>Want to contact webmaster?</p>

    <form action="{{ path('blogger_blog_contact') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
{% endblock %}
