{# src/Blogger/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@BloggerBlogBundle/Resources/public/css/*'
        output='css/blogger.css'
        debug=false
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block sidebar %}
     {% render(controller("BloggerBlogBundle:Page:sidebar")) %}
{% endblock %}
